body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

ul {
    background-color: #3d8e38;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h2 {
    font-family: arial;
}

h1 {
    font-family: arial;
}

li a:hover {
    background-color: #469941;
}
#logo{
    float: left;
}
#picLogo{
    height: 100%;
    width: 100%;
}

.body-container {
    background: url('/Img/pizza.jpg') center center / cover no-repeat fixed;
}

.body-row {
    width: 90%;
    margin: auto;
    font-size: 16px;

}

.tableNumber {
    width: 40px;
    min-width: 40px;
    padding-left: 10px;
    padding-top: 4px;
}

.tableName{
    width: 100%
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    background-color: white;
    border-width: 2px;
}

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.sorting {
    padding-left: 8px;
}

tr:nth-child(odd).sorting_1 {
    background: rgba(206, 206, 206, 0.5);
}

th{
    text-align: left;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

.tablePrice {
    text-align: right;
    padding-right: 12px;
    min-width: 70px;
}

tr:nth-child(odd).sorting {
    background: rgba(206, 206, 206, 0.5);
}

.fa-plus-circle{
    color: green;
}
#orderBtn {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.nav ul {
    list-style: none;
    background-color: #3d8e38;
    text-align: center;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
}

.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #469941;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
.nav li {
    width: 120px;
    border-bottom: none;
    height: 0%;
    font-size: 1.4em;
}

.nav li {
    display: inline-block;
    margin-right: -4px;
}

.top{

}